# Only for Docker Deployment

BOT_TOKEN=7293959319:AAEmYs78COUzVG3OjP9OXxL7bUqqZA4cKOU

API_ID=27383453

API_HASH=4c246fb0c649477cc2e79b6a178ddfaa

SUDO_USERS_ID=6898413162,6566179661,# Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-1002093247039

GBAN_LOG_GROUP_ID=-1002093247039

MESSAGE_DUMP_CHAT=-1002093247039

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=mongodb+srv://BADMUNDA:BADMYDAD@badhacker.i5nw9na.mongodb.net/

LOG_MENTIONS=0 # Make it 1 if you want to enable it

RSS_DELAY=300 # In seconds
